name: Build and Push Docker Image

on:
  push:
    branches: [main]
    paths:
      - '**.go'
      - 'go.*'
      - 'Dockerfile'
      - '.github/workflows/docker-build.yml'
  pull_request:
    branches: [main]

jobs:
  docker:
    name: Build and push CFGO-DynDNS
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/cfgo-dyndns:latest
          provenance: false

      - name: Delete previous images
        uses: actions/delete-package-versions@v5
        with:
          package-name: 'cfgo-dyndns'
          package-type: 'container'
          min-versions-to-keep: 3
          token: ${{ secrets.GITHUB_TOKEN }}
